@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white
}

.left {
  width: 25vw;
  padding: 10px;
}

.left .close {
  display: none;
}

.right {
  width: 75vw;
  margin: 16px 0;
  position: relative;
}



.home ul li {
  width: 15px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  width: 100%;
  display: flex;
  gap: 15px;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 11px;
  color: gray;
  gap: 13px;
  position: absolute;
  padding: 10px 0;
  bottom: 0;
}

.footer a {
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
}

.header>* {
  padding: 20px;

}

.spotify-playlist {
  padding: 16px;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
  overflow: auto;
  max-height: 67vh;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}



.card>* {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card:hover {
  background-color: #464646;
  transition: all 0.9s;
  cursor: pointer;
  /* opacity: 1; */
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 108px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons>* {
  margin: 0 12px;
}

.signupbtn {
  font-weight: bold;
  color: rgb(218, 192, 192);
  background-color: #252525;
  border: none;
  outline: none;
  cursor: pointer;

}

.signupbtn:hover {
  font-size: 0.97rem;
  color: white;
}

.loginbtn {
  background-color: white;
  color: black;
  border-radius: 21px;
  padding: 11px;
  width: 79px;
  cursor: pointer;
  font-size: 15px;
}

.loginbtn:hover {
  font-weight: bold;
  padding: 11px 15px;
  cursor: pointer;
  font-size: 16px;
}

.playbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  background-color: rgb(216, 216, 216, 1);
  width: 68%;
  padding: 12px;
  border-radius: 10px;
  filter: invert(1);
  min-height: 40px
}

.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.songlist ul {
  padding: 0 14px;

}

.songlist ul li {
  list-style-type: decimal;
  display: flex;
  gap: 15px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
  justify-content: space-between;
}

.songlist.info {
  width: 344px;
}

.info div {
  word-break: break-all;

}

.songlist {
  height: 544px;
  overflow: auto;
}

.playnow {
  display: flex;
  justify-content: center;
  align-content: center;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.hamburger {
  display: none;
}

.seekbar {
  height: 2px;
  background: black;
  border: 2px solid black;
  width: 97%;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin: 12px;
  cursor: pointer;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 5px;
  transition: left 0.5sec;
}

.songbuttons img {
  cursor: pointer;
}

.timevol {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songinfo,
.songtime {
  color: black;
  padding: 0 12px;
}

.range {
  color: black;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  /* flex-direction: column; */
}

.range input {
  cursor: pointer;
}

.songinfo {
  width: 240px;
}

.songtime {
  width: 112px;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


@media (max-width : 1200px) {
  .left {
    position: absolute;
    left: -110%;
    transition: all .3s;
    z-index: 1;
    width: 410px;
    background-color: black;
    padding: 0;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
    display: block;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 110px);
    font-size: 20px;
  }

  .seekbar {
    width: calc(100vw - 110px);
  }

  .hamburgercontainer {
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    display: block;
    width: 40px;
  }

  .songtime {
    color: black;
    padding: 0px 32px;
  }

  .card {
    width: 44vw;
  }

  .cardcontainer {
    justify-content: center;
    margin: 0;
  }

  .right {
    margin: 0;
  }

  .abovebar {
    flex-direction: column;
    gap: 13px;
    align-items: center;
  }

  .songinfo {
    width: auto;
  }

  .songtime {
    width: auto;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

}

@media (max-width : 431px) {
  .card {
    width: 100vw;
  }
}